/.vs
/bin
/obj
/Entity.Abstact/bin/Debug/netstandard2.0
/Entity.Abstact/obj/Debug/netstandard2.0
/Entity.Abstact/obj/Release/netstandard2.0
/EntityToCrudAnalyzer/EntityToCrudAnalyzer/bin/Debug/netstandard2.0
/EntityToCrudAnalyzer/EntityToCrudAnalyzer/obj/Debug/netstandard2.0
/EntityToCrudAnalyzer/EntityToCrudAnalyzer/obj/Release/netstandard2.0
/EntityToCrudAnalyzer/EntityToCrudAnalyzer/obj
/SourceEntity/obj/Debug/netstandard2.0
/SourceEntity/obj
/SourceEntity/bin/Debug/netstandard2.0
